<h1>Listing purchaser_deals</h1>

<table>
  <tr>
    <th>Purchaser</th>
    <th>Deal</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @purchaser_deals.each do |purchaser_deal| %>
  <tr>
    <td><%= purchaser_deal.purchaser %></td>
    <td><%= purchaser_deal.deal %></td>
    <td><%= link_to 'Show', purchaser_deal %></td>
    <td><%= link_to 'Edit', edit_purchaser_deal_path(purchaser_deal) %></td>
    <td><%= link_to 'Destroy', purchaser_deal, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Purchaser deal', new_purchaser_deal_path %>
