<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @merchant.name %>
</p>

<p>
  <b>Address:</b>
  <%= @merchant.address %>
</p>


<%= link_to 'Edit', edit_merchant_path(@merchant) %> |
<%= link_to 'Back', merchants_path %>
