<p id="notice"><%= notice %></p>

<p>
  <b>Description:</b>
  <%= @deal.description %>
</p>

<p>
  <b>Price:</b>
  <%= @deal.price %>
</p>

<p>
  <b>number_purchased:</b>
  <%= @deal.number_purchased %>
</p>

<p>
  <b>Merchant:</b>
  <%= @deal.merchant %>
</p>


<%= link_to 'Edit', edit_deal_path(@deal) %> |
<%= link_to 'Back', deals_path %>
